<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIP</title>
</head>
<body>

<h1>VIP room</h1>

{{if .First}}
    USER NAME {{.UserName}}<br>
    ようこそ {{.Last}} {{.First}} 様！
{{end}}

</body>
</html>