<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>入力送信画面</title>
</head>
<body>

<header>
{{if .Method}}<p>リクエストメソッド: {{.Method}}</p>{{end}}
{{if .Submissions}}
    {{range $key, $value := .Submissions}}
            <p><strong>{{$key}}</strong></p>
            <ul>{{range $value}}<li><em>{{.}}</em></li>{{end}}</ul>
    {{end}}
{{end}}
</header>

<form action="/" method="POST">
        <input type="text" name="fname" placeholder="ここに名前を記入" autofocus autocomplete="off">
        <input type="submit" name="submit-btn" value="送信">
</form>

</body>
</html>