<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
    <ul>
        {{range .AAA}}
        <li>{{upper .Kind}} - {{three .Country}}</li>
        {{end}}
    </ul>
    <ul>
        {{range .BBB}}
        <li>{{three .Name}} - {{upper .Color}}</li>
        {{end}}
    </ul>
    </body>
</html>