<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGNUP</title>
</head>
<body>

<form method="POST">

    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <label for="sr">Permission</label>
    <select name="permission" id="sr">
        <option value="user">user</option>
        <option value="admin">admin</option>
        <option value="dog">dog</option>
    </select>
    <input type="submit">

</form>

</body>
</html>